@model HR_System.PAL.ViewModels.GeneralSittingsVM

@{
    ViewData["Title"] = "Add";
}


<h4>الإعدادات العامة</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="overTime" class="control-label">الإضافة</label>
                <input asp-for="overTime" class="form-control" />
                <span asp-validation-for="overTime" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="underTime" class="control-label">الخصم</label>
                <input asp-for="underTime" class="form-control" />
                <span asp-validation-for="underTime" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="week_end_Day1" class="control-label">الإجازة الأسبوعية</label>
                <select asp-for="week_end_Day1" class="form-control">
                    <option>السبت</option>
                    <option>الإحد</option>
                    <option>الاثنين</option>
                    <option>الثلاثاء</option>
                    <option>الاربعاء</option>
                    <option>الخميس</option>
                    <option>الجمعة</option>
                </select>
                <span asp-validation-for="week_end_Day1" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="week_end_Day2" class="control-label">الإجازة الأسبوعية</label>
                <select asp-for="week_end_Day2" class="form-control">
                    <option>السبت</option>
                    <option>الإحد</option>
                    <option>الاثنين</option>
                    <option>الثلاثاء</option>
                    <option>الاربعاء</option>
                    <option>الخميس</option>
                    <option>الجمعة</option>
                </select>
                <span asp-validation-for="week_end_Day2" class="text-danger"></span>
            </div>

            <div class="form-group m-3">
                <input type="submit" value="إضافة" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-success m-3" asp-action="Index">الذهاب لتفاصيل الإعدادات</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
