@model HR_System.PAL.ViewModels.AppUserVM

@{
    ViewData["Title"] = "Add";
}

<style>
    .parent {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Center the form horizontally */
    from, .panel, .panel-heading {
        min-width: 300px;
        width: 600px;
        max-width: 500px;
    }

    form {
        background-color: #fff;
        min-height: 300px
    }

        /* Set a white background and rounded borders */
        form.row {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
        }

        /* Add some margin and padding to the form elements */
        form .form-group {
            margin-bottom: 20px;
            padding: 0 10px;
        }

        /* Style the input fields */
        form input[type="text"],
        form input[type="date"] {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        /* Style the submit button */
        form input[type="submit"] {
            /*background-color: #28a745;*/
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            font-size: 16px;
            cursor: pointer;
        }

        /* Add some margin to the submit button */
        form .form-group:last-child {
            margin-bottom: 0;
        }
</style>


<div class="parent">
    <div class="panel panel-default templatemo-content-widget white-bg no-padding templatemo-overflow-hidden">
        <div class="panel-heading templatemo-position-relative" style="background-color:#0d6efd">
            <h2 class="text-uppercase"> إضافة مستخدم جديد</h2>
        </div>
        <form asp-action="Add" class="row p-3 mt-3">
            <div class="form-group">
                <div class="d-flex align-items-center">
                    <label asp-for="fullName" class="control-label fs-6 ms-2">الاسـم</label>
                    <input asp-for="fullName" class="form-control" />
                </div>
                <div class="d-flex justify-content-end">
                    <span asp-validation-for="fullName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex align-items-center">
                    <label asp-for="fullName" class="control-label fs-6 ms-2">المجموعة</label>
                    <input asp-for="fullName" class="form-control" />
                </div>
                <div class="d-flex justify-content-end">
                    <span asp-validation-for="fullName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex align-items-center">
                    <label asp-for="userName" class="control-label fs-6 ms-2">اسم المستخدم</label>
                    <input asp-for="userName" class="form-control" />
                </div>
                <div class="d-flex justify-content-end">
                    <span asp-validation-for="userName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex align-items-center">
                    <label asp-for="email" class="control-label fs-6 ms-2">البريد</label>
                    <input asp-for="email" class="form-control" />
                </div>
                <div class="d-flex justify-content-end">
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="d-flex align-items-center">
                    <label asp-for="password" class="control-label fs-6 ms-2">كلمة المرور</label>
                    <input asp-for="password" class="form-control" />
                </div>
                <div class="d-flex justify-content-end">
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
            </div>
            

            <div class="form-group mt-4 d-flex justify-content-center">
                <input type="submit" value="إضافـة" class="btn btn-success align-self-start fs-5 w-50" />
            </div>
        </form>
    </div>
</div>

<h4 class="text-center">إضافة مستخدم جديد</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5>المجموعة</h5>
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Roles[i].DisplayValue" />
                    <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                    <label asp-for="@Model.Roles[i].IsSelected" class="form-check-label">@Model.Roles[i].DisplayValue</label>
                </div>
            }
            <span asp-validation-for="Roles" class="text-danger"></span>

            <div class="form-group m-3">
                <label asp-for="fullName" class="control-label">الاسم كامل</label>
                <input asp-for="fullName" class="form-control" />
                <span asp-validation-for="fullName" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="userName" class="control-label">اسم المستخدم</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="password" class="control-label">كلمة المرور</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="email" class="control-label">اسم البريد</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <input type="submit" value="إضافة" class="btn btn-Success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="m-3 btn btn-warning" asp-action="Index">العودة لقائمة المستخدمين</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
