@model HR_System.PAL.ViewModels.AppUserVM

@{
    ViewData["Title"] = "Add";
}


<h4 class="text-center">إضافة مستخدم جديد</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5>المجموعة</h5>
            @for (int i = 0; i < Model.Roles.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model.Roles[i].DisplayValue" />
                    <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                    <label asp-for="@Model.Roles[i].IsSelected" class="form-check-label">@Model.Roles[i].DisplayValue</label>
                </div>
            }
            <span asp-validation-for="Roles" class="text-danger"></span>

            <div class="form-group m-3">
                <label asp-for="fullName" class="control-label">الاسم كامل</label>
                <input asp-for="fullName" class="form-control" />
                <span asp-validation-for="fullName" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="userName" class="control-label">اسم المستخدم</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="password" class="control-label">كلمة المرور</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <label asp-for="email" class="control-label">اسم البريد</label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group m-3">
                <input type="submit" value="إضافة" class="btn btn-Success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="m-3 btn btn-warning" asp-action="Index">العودة لقائمة المستخدمين</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
