@model HR_System.DAL.ViewModelsForUpdate.UpdateEmployeeAttendence

@{
    ViewData["Title"] = "تعديل حضور الموظفين";

    //selectlist deptitems = new selectlist(viewbag.deptartments, "id", "name");
    //selectlist empsitems = new selectlist(viewbag.employees, "id", "name");

    SelectList deptItems = new SelectList(ViewBag.Departments ?? new List<Department>(), "Id", "Name");
    SelectList empsItems = new SelectList(ViewBag.Employees ?? new List<Employee>(), "Id", "Name");

   


}

<h4 class="text-center">تعديل حضور الموظفين</h4>
<hr />
<div class="d-flex justify-content-center">

    <div class="col-md-4">
        <form asp-action="Edit" class="my-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-2">
                <label asp-for="DepartmentId" class="control-label">القسم</label>
                <select asp-for="DepartmentId" asp-items="deptItems" class="form-control">
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="EmployeeId" class="control-label">اسم الموظف</label>
                <select asp-for="EmployeeId" asp-items="empsItems" name="EmployeeId" id="EmployeeId" class="form-control">
                </select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="AttendenceTime" class="control-label">موعد الحضور</label>
                <input asp-for="AttendenceTime" class="form-control" type="time" />
                <span asp-validation-for="AttendenceTime" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="LeavingTime" class="control-label">موعد الإنصراف</label>
                <input asp-for="LeavingTime" class="form-control" type="time" />
                <span asp-validation-for="LeavingTime" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label asp-for="DayDate" class="control-label">تاريخ اليوم</label>
                <input asp-for="DayDate" class="form-control" type="date" />
                <span asp-validation-for="DayDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="تعديل الحضور" class="btn btn-outline-success" />
                <a asp-action="Index" class="btn btn-outline-info">قائمة حضور الموظفين</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



@*<script>
    function GetEmployees() {
        var deptId = document.getElementById("DepartmentId").value;
        console.log(deptId);
        $.ajax({
            url: "/Attendence/GetEmployeesByDeptId?id=" + deptId,
            success: function (result) {
                console.log(result);
                document.getElementById("EmployeeId").innerHTML = "";
                for (let i of result) {
                    document.getElementById("EmployeeId").innerHTML +=
                        "<option value='" + i.id + "'>" + i.name + "</option>"
                }
            }
        });

    }
</script>*@

<style>
    .my-form {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8;
        margin-top: 10px;
    }

</style>