
@{
    ViewData["Title"] = "AccessDenied";
}



<style>
    .parent {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Center the content horizontally */
    .content {
        min-width: 300px;
        width: 600px;
        max-width: 500px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
    }

        /* Style the text and image */
        .content h1 {
            text-align: center;
            color: #dc3545;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .content p {
            text-align: center;
            font-size: 16px;
        }

        .content img {
            display: block;
            margin: 0 auto;
            width: 200px;
            height: auto;
            margin-bottom: 20px;
        }
</style>

<div class="parent">
    <div class="content">
        <img class="image" src="~/imgs/accessdenied.jpg" alt="">
        <h1>403</h1>
        <h2>غير مسموح طبقاً للمجموعة المنتمى لها المستخدم</h2>
    </div>
</div>
