@*@model HR_System.PAL.ViewModels.LogInVM

@{
    ViewData["Title"] = "LogIn";
}

<h1 class="text-center">تسجيل الدخول</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LogIn">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-3">
                <label asp-for="userName" class="control-label">اسم المستخدم</label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
                <div class="form-group m-3">
                <label asp-for="password" class="control-label">كلمة المرور</label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group form-check m-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="rememberMe" /> تتذكرني
                </label>
            </div>
                <div class="form-group m-3">
                <input type="submit" value="تسجيل الدخول" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@

@model HR_System.PAL.ViewModels.LogInVM

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "LogIn";
}

<style>
    
    *,
    *:before,
    *:after {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Readex Pro', sans-serif;
    }
    :root{
        --main-color: #0d6efd;
    }
    body {
        background-color: #ffffff;
    }

    .background {
        width: 430px;
        min-height: 520px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
    }

        .background .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
        }

    .shape:first-child {
        background: linear-gradient( var(--main-color), #d5f8e5 );
        left: -80px;
        top: -80px;
    }

    .shape:last-child {
        background: linear-gradient( to right, var(--main-color), #d5f8e5 );
        right: -30px;
        bottom: -80px;
    }

    form {
        min-height: 520px;
        width: 400px;
        background-color: rgb(212,251,228,0.13);
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
    }

        form * {
            font-family: 'Poppins',sans-serif;
            color: #1b2e35;
            letter-spacing: 0.5px;
            outline: none;
            border: none;
        }

        form h3 {
            font-size: 32px;
            font-weight: 800;
            line-height: 42px;
            text-align: center;
        }

    label {
        display: block;
        margin-top: 30px;
        font-size: 16px;
        font-weight: 500;
    }

    input {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
        border: 2px solid var(--main-color);
        border-radius: 60px;
    }

    .check {
        width: 15px;
        height: 15px;
        margin: 5px;
    }

    .check-label {
        display: flex;
    }

    ::placeholder {
        color: var(--main-color);
    }

    button {
        margin-top: 30px;
        width: 100%;
        background-color: var(--main-color) !important;
        color: #fff !important;
        /*padding: 15px 0;*/
        font-size: 18px;
        font-weight: 600 !important;
        border-radius: 30px;
        cursor: pointer;
    }

    .text-danger{
        color: red
    }
</style>
<body dir="rtl">
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form asp-action="LogIn">
        <h3>تسجيل الدخول</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group m-3 mt-5">
            <input asp-for="userName" class="form-control" placeholder="اسم المستخدم"/>
            <span asp-validation-for="userName" class="text-danger"></span>
        </div>
        <div class="form-group m-3">
            <input asp-for="password" class="form-control" placeholder="كلمة المرور"/>
            <div class="d-flex justify-content-between">
                <span asp-validation-for="password" class="text-danger"></span>
                <label class="check-label">
                    <input type="checkbox" class="check" asp-for="rememberMe" /> تذكرني
                </label>
            </div>
        </div>
        @*<div class="form-group form-check m-3">
            <label class="check-label">
                <input type="checkbox" class="check" asp-for="rememberMe" /> تذكرني
            </label>
        </div>*@

        <button type="submit" class="btn">تسجيل</button>
    </form>
</body>


@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@