@using HR_System.ViewModel;
@model RoleFormVM
<form method="post" asp-action="Add">
    <div class="input-group mb-3">
        <input asp-for="Name" class="form-control" placeholder="اسم المجموعة ...."/>
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">
                إضافة مجموعة جديدة
            </button>
        </div>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>
</form>