@model IEnumerable<PermissionsDB>

@{
    var dic = new Dictionary<string, string>();
    dic.Add("Add", "إضافة");
    dic.Add("Update", "تعديل");
    dic.Add("Delete", "حذف");
    dic.Add("Display", "عرض");

    //TODO: Add all pages
    var pagesNameDic = new Dictionary<int, string>();
    pagesNameDic.Add(1, "الموظفين");
    pagesNameDic.Add(2, "الحسابات");

}

<table class="table table-hover">
    <thead>
        <tr>
            <th>أسم الصفحة</th>
            <th>الصلاحيات</th>
        </tr> 
    </thead>
    <tbody>
            
            @foreach (var permision in Model)
            {
               <tr>
                 <td>@pagesNameDic[permision.PageNameId]</td>
                @{
                    var permCast = (Permissions)permision.PermissionNumber;
                    var permStr = permCast.ToString();
                   
                    var permArrayInAR = permStr.Split(',').Select(p =>p.Trim()).Select(p=> dic[p]);

                }

                <td>@string.Join(" , ",permArrayInAR)</td>
               </tr>
            }
    </tbody>
</table>