@model IEnumerable<PermissionsDB>

@{
    var dic = new Dictionary<string, string>();
    dic.Add("Add", "إضافة");
    dic.Add("Update", "تعديل");
    dic.Add("Delete", "حذف");
    dic.Add("Display", "عرض");

    var pagesNameDic = new Dictionary<int, string>();
    pagesNameDic.Add(1, "الموظفين");
    pagesNameDic.Add(2, "الإعدادات العامه");
    pagesNameDic.Add(3, "الحضور و الانصراف");
    pagesNameDic.Add(4, "تقرير الرواتب");

}

<table class="table table-hover">
    <thead>
        <tr>
            <th>أسم الصفحة</th>
            <th>الصلاحيات</th>
        </tr> 
    </thead>
    <tbody>
            
            @foreach (var permision in Model)
            {
               <tr>
                 <td>@pagesNameDic[permision.PageNameId]</td>
                @{
                    dynamic permArrayInAR = "";
                    if (permision.PermissionNumber == 0)
                    {
                        permArrayInAR = "لا توجد له اي صلاحيات";
                    }
                    else
                    {
                        
                           var permCast = (Permissions) permision.PermissionNumber;
                  
                          var permStr = permCast.ToString();
                   
                        permArrayInAR = permStr.Split(',').Select(p =>p.Trim()).Select(p=> dic[p]);
                    }

                }

                <td>@string.Join(" , ",permArrayInAR)</td>
               </tr>
            }
    </tbody>
</table>