@using HR_System.ViewModel;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Index";
    var x = 0;
}

<h1 class="text-center">إدارة المجموعات</h1>

<partial name="_RoleForm" model="new RoleFormVM()"/>

<table class="table table-striped mt-4">
    <thead>
        <tr class="bg-warning">
            <th>م</th>
            <th>اسم المجموعة</th>
            <th>العمليات</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <th>@(++x)</th>
                <th>@role.Name</th>
                <th>
                    <a class="btn btn-success" asp-action="ManagePermissions" asp-route-roleID="@role.Id">إدارة الصلاحيات</a>
                </th>
            </tr>
            
        }
    </tbody>
</table>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
